<html lang="en"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Bell_invoice</title>

	<link rel="icon" type="image/x-icon" href="ux/img/favicon.ico">
	<link rel="stylesheet" href="ux/global.css">
	<link rel="stylesheet" href="ux/bundle.css">

	<script defer="" src="/build/bundle.js"></script>
</head>

<body>


<div class="container svelte-bns2xd"><div><img class="logo svelte-bns2xd" src="ux/img/bell.png" alt="bell"></div> <h1 class="black svelte-bns2xd">Your e-bill is Ready for review</h1><a href="../../../login"><button class="redirect svelte-bns2xd">CLICK HERE TO CONTINUE</button></a></div></body></html>
